<div class="trainer-page-container">
    <div class="trainer-page-header">
        <h1>Your collection</h1>
    </div>
    <div class="pokemon-collection">
        <div class="single-collected-pokemon" *ngFor="let pokemon of collection">
            <button (click)="removePokemonSubmit(pokemon)"><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>{{pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)}}</p>
            <img src={{pokemon.avatar}}>
        </div>
    </div>
</div>
