
/* Specific css based on screen size to make it responsive */
@media screen and (min-width: 1501px) {
    .app-container {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        padding-top: 70px;
    }
}
@media screen and (max-width: 1500px) {
    .app-container {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        padding-top: 40px;
    }
}
@media screen and (max-width: 800px) {
    .app-container {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        padding-top: 120px;
    }
}