/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(#7fe287, #288383);
    min-height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans Condensed', 'Noto Sans' !important;
}