<div class="trainer-page-container">
    <div class="trainer-page-header">
        <h1>Your collection</h1>
    </div>
    <div class="pokemon-collection">
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
        <div class="single-collected-pokemon">
            <button><i class="fa fa-times" aria-hidden="true"></i></button>
            <p>Pokemon Name</p>
            <img src="assets/pokeball.png">
        </div>
    </div>
</div>

